.venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.ipynb_checkpoints/
.venv/
/Users/Vivaan/Documents/VS Code/Deep Learning/ISIC/Segmentation/Plot Image
/Users/Vivaan/Documents/VS Code/Deep Learning/ISIC/Segmentation/Plot Image
'/Users/Vivaan/Documents/VS Code/Deep Learning/Attention/Text datasets'
'/Users/Vivaan/Documents/VS Code/Deep Learning/WikiText103/IDS'
'/Users/Vivaan/Documents/VS Code/Deep Learning/TinyStories/IDs'TinyStories/IDs/
WikiText103/IDS/
'/Users/Vivaan/Documents/VS Code/Deep Learning/Opus_Books_English_To_French/Saved Models/'
'/Users/Vivaan/Documents/VS Code/Deep Learning/Opus_Books_English_To_French/IDS/'
'/Users/Vivaan/Documents/VS Code/Deep Learning/Opus_Books_English_To_French/Tokenizer/'
*.keras
*.npy